// to remove console.logs
//just uncomment below
//babel required json
{
  //"plugins": [["transform-remove-console", { "exclude": ["error", "warn"] }]]
  "presets": [
    ["@parcel/babel-preset-env", { "targets": { "node": "current" } }],
    ["@babel/preset-react", { "runtime": "automatic" }]
  ]
}
